---
import '../styles/global.css';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico">
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-black">
    <div class="p-4 md:p-8 scanline">
      <div class="max-w-7xl mx-auto">
        <slot />
      </div>
    </div>
  </body>
</html>